Flask
Flask-Reuploaded
Flask-WTF
Flask-SQLAlchemy
Flask-Login
Flask-SocketIO
opencv-python
Werkzeug
WTForms
face_recognition
setuptools
moviepy
ultralytics
torch
numpy==1.24
dlib==19.24.2
