<!DOCTYPE html>
<html>
<head>
    <title>Thay đổi mật khẩu</title>
</head>
<body>
    <h2>Thay đổi mật khẩu</h2>
    <form method="POST">
        <label for="new_password">Mật khẩu mới:</label>
        <input type="password" name="new_password" required><br>

        <button type="submit">Lưu mật khẩu mới</button>
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li style="color: red;">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</body>
</html>
