{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Thay Đổi Mật Khẩu</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Quay lại <a href="{{ url_for('main.profile') }}">trang cá nhân</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/change_password">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="current_password" placeholder="Mật khẩu hiện tại" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="new_password" placeholder="Mật khẩu mới" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="confirm_password" placeholder="Nhập lại mật khẩu mới" required>
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Thay Đổi Mật Khẩu</button>
        </form>
    </div>
</div>
{% endblock %}
