{% extends "base.html" %}

{% block content %}
<div class="column is-6 is-offset-3">
    <h3 class="title">Cắt video</h3>
    <div class="box">
        <h1>Video Trimmer</h1>

        <!-- Hiển thị thông báo lỗi -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}

        <form method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}

            <label for="video">Upload Video:</label>
            {{ form.photo() }}
            <div>
                <label for="trim_start">Trim Start Time (in seconds):</label>
                <input type="number" name="trim_start" required>
            </div>
            <div>
                <label for="trim_end">Trim End Time (in seconds):</label>
                <input type="number" name="trim_end" required>
            </div>
            {{ form.submit() }}
        </form>

        {% if video_url %}
            <h2>Trimmed Video:</h2>
            <video width="640" height="480" controls>
                <source src="{{ video_url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <br>
            <!-- Thêm nút để tải xuống -->
            <a href="{{ video_url }}" download="trimmed_video.mp4" class="button is-block is-success is-large is-fullwidth">
                Tải video đã cắt
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}