{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">

        {% if error%}
        <div class="notification is-danger">
            {{error}}
        </div>
        {% endif%}
    

        <div class="field">
            <div class="control">
                <input class="input is-large" id="email" type="email" name="email" placeholder="Email của bạn" autofocus="">
            </div>
        </div>
        
        <video id="video" width="640" height="480" autoplay></video>
        <canvas id="canvas"></canvas>
        
        <div class="field">
            <label class="checkbox">
                <input type="checkbox" id="remember" name="remember">
                Remember me
            </label>
        </div>

        


        <a href="{{ url_for('auth.login') }}" class="button is-block is-info is-large is-fullwidth">
            Quay về đăng nhập bằng mật khẩu
        </a>        
        <button onclick="captureImage()" type="button">Capture Image</button>
        <button onclick="sendImage()" type="submit">Send Image</button>

        <script>
            startCamera();
            let videoStream;
        
            function startCamera() {
                var video = document.getElementById('video');
                video.style.transform = 'scale(-1, 1)';
                
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                        videoStream = stream;
                        video.srcObject = stream;
                    })
                    .catch(function (err) {
                        console.error('Error accessing user media: ', err);
                    });
            }
        
            function captureImage() {
                canvas.width = 384;
                canvas.height = canvas.width * video.videoHeight / video.videoWidth;
                canvas.style.transform = 'scale(-1, 1)';
                canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
            }

                function sendImage() {
                let image_data_url = canvas.toDataURL('image/jpeg');

                let email_data_url = document.getElementById('email').value;
                let remember_data_url = document.getElementById('remember').value;
        
                // data url of the image
                console.log(image_data_url);
        
                // Send the data URL to the server using a POST request
                fetch('/login_cam', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ 
                        image: image_data_url,
                        email: email_data_url,
                        remember: remember_data_url
                    }),
                })
                .then(response => {         
                    //response.json();
                    if(response.redirected){
                        window.location = response.url;
                    }
                })
                .then(data => {
                    console.log('Image captured and sent to server:', data);
                })
                .catch(error => {
                    console.error('Error capturing and sending image:', error);
                });
        
            }
        </script> 

    </div>
</div>
{% endblock %}
