{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Tạo Face ID bằng facecam</h3>
    <div class="box">

        {% if error%}
        <div class="notification is-danger">
            {{error}}
        </div>
        {% endif%}

        <input class="input is-large" id="password" type="password" name="password" placeholder="Your Password" required>
        <video id="video" width="640" height="480" autoplay></video>
        <canvas id="canvas"></canvas>
        <button onclick="captureImage()" type="button">Chụp Hình</button>
        <button onclick="sendImage()" type="button">Gửi hình</button>
        <script>
            startCamera();
            let videoStream;
        
            function startCamera() {
                var video = document.getElementById('video');
                video.style.transform = 'scale(-1, 1)';
                
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                        videoStream = stream;
                        video.srcObject = stream;
                    })
                    .catch(function (err) {
                        console.error('Error accessing user media: ', err);
                    });
            }
        
            function captureImage() {
                canvas.width = 384;
                canvas.height = canvas.width * video.videoHeight / video.videoWidth;
                canvas.style.transform = 'scale(-1, 1)';
                canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
            }
        
            function sendImage() {
                let image_data_url = canvas.toDataURL('image/jpeg');
                let password_url = document.getElementById('password').value;
        
                // data url of the image
                console.log(image_data_url);
                // Send the data URL to the server using a POST request
                fetch('/register_cam', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ 
                        image: image_data_url,
                        password: password_url 
                    }),
                })
                .then(response => {
                    //response.json();
                    if(response.redirected){
                        window.location = response.url;
                    }
                })
                .then(data => {
                    console.log('Image captured and sent to server:', data);
                })
                .catch(error => {
                    console.error('Error capturing and sending image:', error);
                });
            }
        </script>        
    </div>
</div>

{% endblock %}
