<!DOCTYPE html>
<html>
<head>
    <title>Chào mừng</title>
</head>
<body>
    <h2>Chào mừng {{ user.username }}</h2>
    <a href="/change_password">Thay đổi mật khẩu</a>
    <a href="/logout">Đăng xuất</a> <!-- Thêm dòng này -->
    <a href="/dashboard">Trang dành riêng</a>

    <form action="/register_face" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Đăng ký bằng khuôn mặt</button>
    </form>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li style="color: red;">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</body>
</html>
